ErrorDocument 404 /error.php
RewriteEngine On 
RewriteCond %{HTTP_HOST} ^student\.messregistration\.com [NC]
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://student\.messregistration\.com/$1 [R,L]
